*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}
.controls-btns__play {
 cursor: pointer; 
}
.body {
  max-height: 100vh;
  /* background: grey; */
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.container{
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

}
.player{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.player video{
  width: 100%;
 
}
.controls{
  background: #000;
  flex-grow: 1;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  
}
.controls-line{
  width: 90%;
  height: 3px;
  background: rgba(255,255,255,0.5);
  margin-bottom: 10px;
  border-radius: 20px;
  transition:1s transform;
  cursor: pointer;
}
.controls-line:hover{
  transform: scaleY(3);
}
.controls-btns{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.controls-btns__playpause{
  color:#fff;
}
.hidden{
  display: none;
}
.controls-line__track{
  width: 0%;
  height: 100%;
  background: red;
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
}
.controls-line__track::after{
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  right: 0;
  background: red;
}

.controls-btns__left{
  display: flex;
  align-items: center;
}
.controls-btns__forward i{
  color: white;
  font-size: 20px;
}
.controls-btns__forward{
  margin-left: 10px;
  cursor: pointer;
}
.controls-btns__volume {
  margin-left: 20px;
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
.controls-btns__volume_icons {
  display: flex;
  align-items: center;
}
.controls-btns__volume_icons-up i {
  color: #fff;
  font-size: 20px;
}
.controls-btns__volume_icons-slash i {
  color: #fff;
  font-size: 20px;
}
.controls-btns__volume:hover .controls-btns__volume_line {
  opacity: 1;
}
.controls-btns__volume_line {
  width: 100px;
  height: 4px;
  background-color: rgb(56, 56, 56);
  border-radius: 5px;
  margin-left: 15px;
  opacity: 0;
  transition: .5s;
  
}
.controls-btns__volume_line-track {
  height: 100%;
  width: 100%;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  position: relative;
}
.controls-btns__volume_line-track::after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 0;
    
}
.controls-btns__right_fullscreen {
  display: flex;
  align-items: center;
}
.controls-btns__right_fullscreen-expand {
  font-size: 25px;
  cursor: pointer;
} 
.controls-btns__right_fullscreen-compress {
  font-size: 25px;
  cursor: pointer;
} 
.controls-btns__right {
  display: flex;
  align-items: center;
}
.controls-btns__right_rectangle {
  display: flex;
  margin-right: 20px;
  align-items: center;
  cursor: pointer;
}
.controls-btns__right_rectangle-landscape i,
.controls-btns__right_rectangle-wide i{
  font-size: 25px;
}
.text {
  position: absolute;
  top: 0;
  font-size: 20px;
  padding: 10px;
  font-family: sans-serif;
}